################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClubReportDashboard/.vs/ClubReportDashboard
/ClubReportDashboard/ClubReportDashboard/bin/Debug/netcoreapp2.1
/ClubReportDashboard/ClubReportDashboard/obj/Debug/netcoreapp2.1/Razor/Views/Home
/ClubReportDashboard/ClubReportDashboard
/.vs
