/.vs/ClubReportDashboard/config/applicationhost.config
/.vs/ClubReportDashboard/v16
/.vs
/ClubReportDashboard/.vs/ClubReportDashboard/v16
/ClubReportDashboard/.vs/ClubReportDashboard/v15/Server/sqlite3
