################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClubReportDashboard/.vs/ClubReportDashboard/v15
/ClubReportDashboard/.vs/ClubReportDashboard/v16
