
@{
    ViewData["Title"] = "Event Search";
}

<h2>@ViewData["Title"]</h2>

<a asp-area="" asp-controller="Admin" asp-action="Index"> < Back</a>
<br><br>

<input type="button" value="Today's Events" onclick="location.href='@Url.Action("AdminEventsList", "Admin")'" />