<a asp-area="" asp-controller="Home" asp-action="Index"> < Back</a>
<br />
<br />
<br />

<br><br>
<a asp-area="" asp-controller="Admin" asp-action="CreateUser">Create a new user</a><br />
<a asp-area="" asp-controller="Admin" asp-action="EditUser">Edit Existing User</a>