
@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>

<a asp-area="" asp-controller="Admin" asp-action="Index"> < Back</a>
<br />
<br />
<br />
<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Lastname</th>
        <th>Interests</th>
        <th></th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Cassidy</td>
        <td>Smith</td>
        <td>Volunteering, Social Activities</td>
        <td>
            <input type="button" value="Edit" onclick="location.href='@Url.Action("EditUser", "Admin")'" />
        </td>
    </tr>
</table>
<br><br>
<a asp-area="" asp-controller="Admin" asp-action="CreateUser">Create a new user</a><br />
<!--<a asp-area="" asp-controller="Admin" asp-action="EditUser">Edit Existing User</a>-->