
@{
    ViewData["Title"] = "Edit Event";
}

<h2>@ViewData["Title"]</h2>


<a asp-area="" asp-controller="Admin" asp-action="AdminEventsList"> < Back</a>
<br />
<br />
<br />
<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    <tr>
        <td>Employment Training</td>
        <td>Club Challenge Orange Park</td>
        <td>Employment</td>
        <td>Jan 3, 2020</td>
        <td>1PM</td>
    </tr>
</table>