<a asp-area="" asp-controller="Admin" asp-action="AdminUserList2"> < Back</a>
<br />
<br />
<br />
<table style="width:100%">
    <tr>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Lastname</th>
        <th>Interests</th>
    </tr>
    <tr>
        <td><div contenteditable>Jill</div></td>
        <td><div contenteditable>Cassidy</div></td>
        <td><div contenteditable>Smith</div></td>
        <td><div contenteditable>Volunteering, Social Activities</div></td>
    </tr>
</table>