
@{
    ViewData["Title"] = "GeneratedReport";
}

<h2>Generated Report</h2>


<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>

    <h2>Table Caption</h2>
    <p>To add a caption to a table, use the caption tag.</p>

    <table style="width:100%">
        <caption>Monthly savings</caption>
        <tr>
            <th>Volunteering Location</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>#Members</th>
            <th>Hours</th>
        </tr>
        <tr>
            <td>Name</td>
        </tr>
        <tr>
            <td>Name</td>
        </tr>
        <tr>
            <td>Name</td>
        </tr>
    </table>

    </body>

