
@{
    ViewData["Title"] = "Admin Home";
}

<h2>@ViewData["Title"]</h2>

<input type="button" value="Users" onclick="location.href='@Url.Action("AdminUserList2", "Admin")'" />
<input type="button" value="Events" onclick="location.href='@Url.Action("AdminEventSearch", "Admin")'" />

<input type="button" value="Reports" onclick="location.href='@Url.Action("AdminReports", "Admin")'" />