
@{
    ViewData["Title"] = "MonthlyReport";
}

<a asp-area="" asp-controller="Admin" asp-action="AdminUserList"> < Back</a>
<br><br>

<h2>Monthly Volunteer Report</h2>
<br />
<br />
<p></p>
<form action="GeneratedReport">
    <input type="submit" value="Generate Monthly Reports" />
</form>

<br /><br />
<button type="button">Export Report</button>
<br /><br />
