
@{
    ViewData["Title"] = "MonthlyReport";
}

<h2>Monthly Volunteer Report</h2>
<br/>
<br/>
<button type="button">Generate Report</button>
<br/>
<button type="button">Export Report</button>
<br/>
<button type="button">Print Report</button>

