
@{
    ViewData["Title"] = "Quarterly Report";
}

<h1>@ViewData["Title"]</h1>

<a asp-area="" asp-controller="Admin" asp-action="AdminReports"> < Back</a>
<br><br>

<br />
<br />
<p></p>
<form action="GeneratedReport">
    <input type="submit" value="Generate Quarterly Reports" />
</form>


