@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome, Please sign in below </h1>

<form>
    PIN: <br/>
    <input type="text" name="pin"><br>
    <input type="submit" value="Submit">
</form><br />
<input type="submit" value="Admin" />
