@{
        ViewData["Title"] = "Home Page";

}

<h1>Welcome, Please sign in below </h1>

<form>
    PIN: <br/>
    <input type="text" name="pin"><br>
    <input type="button" value="Login">
</form><br />
       <input type="button" value="Admin" onclick="location.href='@Url.Action("AdminLogin", "Home")'" />
